# Created by .ignore support plugin (hsz.mobi)
### Leiningen template
pom.xml
pom.xml.asc
*.jar
*.class
lib/
classes/
target/
checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# IntelliJ project files
.idea
*.iml
out
gen
.classpath
.project
.settings/
bin/

/node_modules
package-lock.json
_site/
Gemfile.lock
